*.o
*.d
*.pass

connectionspeed_manualtest
messaging_manualtest
bigmessageserver_manualtest
udp_manualtest
nonblocking_manualtest

messagebuilder_test
objectset_test
nodelay_manualtest
messagesender_test
